[Unit]
Description=Update the dconf database at boot
ConditionPathExists=/usr/bin/dconf
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dconf update
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
