[Unit]
Description=Check if current image is unsigned and rebase to signed
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rebase-to-signed-image.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
