[Unit]
Description=Autorebase to signed OCI and reboot
ConditionPathExists=!/etc/signed-autorebase
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=journal
EnvironmentFile=/etc/os-release
ExecStart=/usr/bin/rpm-ostree rebase --bypass-driver ostree-image-signed:docker://ghcr.io/lukasgierth/${ID}:latest
ExecStart=/usr/bin/touch /etc/signed-autorebase
ExecStart=/usr/bin/systemctl reboot

[Install]
WantedBy=multi-user.target
