[Unit]
Description=Sync greeter visuals
ConditionPathExists=/etc/setup-greeter

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/bin/sudo /usr/bin/wheel-allow-all enable
ExecStart=/usr/bin/dms greeter sync
ExecStart=/usr/bin/sudo /usr/bin/wheel-allow-all disable

[Install]
WantedBy=default.target
