[Desktop Entry]
Type=Application
Name=Firmware Update
Icon=firmware-update
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/libexec/firmware-update.sh
